In [2]:
import env
import os
import pandas as pd
import numpy as np 
import wrangle_saas as w

In [3]:
saas_churn_df = w.get_churn_data()
saas_churn_df.head(15)

    customer_id churn_month
0       1000000  2014-12-31
1       1000002  2017-08-31
2       1000004  2015-09-30
3       1000005  2014-09-30
4       1000006  2015-03-31
5       1000008  2016-07-31
6       1000009  2017-09-30
7       1000011  2014-08-31
8       1000012  2014-06-30
9       1000013  2016-01-31
10      1000014  2017-08-31
11      1000015  2015-04-30
12      1000018  2017-01-31
13      1000021  2017-01-31
14      1000022  2014-12-31

In [4]:
saas_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15513 entries, 0 to 15512
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  15513 non-null  int64
 1   churn_month  15513 non-null  object
dtypes: int64(1), object(1)
memory usage: 242.5+ KB

In [7]:
saas_churn_df.describe().T

,count,mean,std,min,25%,50%,75%,max
customer_id,15513.0,1.012825e+06,7558.689506,1000000.0,1006360.0,1012649.0,1019002.0,1029131.0

In [ ]:
saas_churn_df.describe().T

,count,mean,std,min,25%,50%,75%,max
customer_id,15513.0,1.012825e+06,7558.689506,1000000.0,1006360.0,1012649.0,1019002.0,1029131.0